body {
	font-family: "Anaheim";
	font-size: 19px;
}


#description {
	margin-left: 13px;
}

#outside {
	background-color: rgb(255, 255, 255);
	padding-top: 25px;
	padding-bottom: 25px;
}

#msg {
	margin-top: 10px; /* Reduces space above the textarea */
}

#dropdown {
  width: 150px; /* Adjust the width as needed */
  height: 28px; /* Adjust the height as needed */
}

textarea::placeholder {
  font-family: "Anaheim"; 
  font-size: 16px; 
  color: #999; 
}

h1 {
	font-size: 30px;
	text-align: center;
}

form {
	/* Just to center the form on the page */
	margin: 0 auto;
	width: 70%;
	/* To see the limits of the form */
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}

#survey-form {
	background-color: white;
}

fieldset {
	border: 1px solid lightgray;
	margin: 10px;
}


textarea {
	vertical-align: top;
	height: 10em;
	width: 500px;
  padding: 5px;

	resize: vertical;
}

.button {
	padding-left: 90px; 
}

button {
	margin: 0.5em;
	font-size: 1em;
	text-transform: capitalize;
	background-color: white; 
	color: black; 
	border: 1px solid black; 
	padding: 10px;
	border-radius: 8px; 
}

#submitbutton {
	display: flex;
	justify-content: center;
}
