/*Styling for chat input form*/
.chat-input {
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14pt;
  width: 95%;
  height: 50px;
}

/*Styling for send button*/
.send-button {
  background-color: #f0f0f0;
  color: #333;
  font-size: 1em;
  font-weight: bold;
}

/*Styling for message from user*/
.userMessage {
  background-color: #f0f0f0;
  color: #333;
  width: 50%;
  font-size: 14pt;
  border-radius: 0.5em;
  padding: 0.625em;
  margin: 0.5em 0;
}

/*Styling for message from technician*/
.techMessage {
  background-color: #007bff;
  color: #333;
  width: 50%;
  font-size: 14pt;
  border-radius: 0.5em;
  padding: 0.625em;
  margin: 0.5em 0;
}

/*Styling for messages in general*/
.messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
